* {
    margin: 0;
    padding: 0;
}
.encabezado {
    background-image: url(../img/smile7.jpg);
    height: 500px;
    background-size: cover;
    position: relative;
}
.contenedor-titulos {
    height: 233px;
    padding: 0px 92px 0px 92px;
    position: absolute;
    top: 48%;
    color: rgb(255, 255, 255);
    font-family: Roboto;
}
#titulo-sbf h2 {
    padding: 0px 10px 0px 10px;
    background-color: rgba(12,12,12,.701961);
    border-left: 8px solid rgb(145,197,8);
    margin: 0px 0px 96px 0px;
    display: inline-block;
    font-size: 29px;  
    font-weight: 700;
}
#titulo-uepct h3 {
    margin: 0px 0px 14px 0px;
    font-size: 22px;
    font-weight: 500;
}
#titulo-ipo h1 {
    margin: 0px 0px 8px 0px;
    font-size: 34px;
    font-weight: 700;
}